<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="ProductsToUninstall" type="System.Configuration.DictionarySectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>

  <ProductsToUninstall>
    <add key="1" value="Advertising"/>
    <add key="2" value="Windows Phone"/>
    <add key="3" value="FSharp"/>
    <add key="4" value="Visual F#"/>
    <add key="5" value="LightSwitch"/>
    <add key="6" value="Workflow"/>
  </ProductsToUninstall>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>